<style>
    header {
        text-align: left;
        color: #f6f6f6;
        background-attachment: scroll;
        background-image: url( {{ asset('bundles/mushkincafe/images/header-bg.jpg') }} );
        background-size: 100%;
        background-repeat: no-repeat;
    }

    header .intro-text {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 30px;
        font-style: italic;
        line-height: 22px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 50px;
        font-weight: 800;
        line-height: 50px;
    }
    .btn-menu {
        position: fixed;
        margin-top: 10px;
        margin-left: -20px;
    }
</style>

<header id="ourtop">
    <div class="container">
        <div class="row btn-menu">
                <a href="#menu-toggle" class="btn-lg btn-default" id="menu-toggle"
                     style="background-color: #636363;">
                      <span class="glyphicon glyphicon-align-justify"></span>
                </a>
        </div>

        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Mushkins Cafe!</div>
            <div class="intro-heading">Мы всегда Рады Вас видеть!</div>
        </div>
    </div>
</header>